html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: Graphik LC TT;
    src: url(../fonts/GraphikLCG-Regular.woff);
    font-weight: 400;
}

@font-face {
    font-family: Graphik LC TT;
    src: url(../fonts/GraphikLCG-Semibold.woff);
    font-weight: 600;
}

body {
    font: 400 15px Graphik LC TT;
}

h1 {
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
}

h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
}

h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
}

h4 {
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
}

.wrapper {
    width: 1290px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    border-bottom: 1px solid #CCCCCC;
}

.header img {
    width: 130px;
    height: 28px;
    margin-left: 51px;
    margin-top: 4px;
    margin-right: 51px;
}

.main-header {
    display: flex;
}

.menu-items {
    display: flex;
    padding-top: 10px;
    font-size: 0;
}

.menu-items li {
    font-size: 15px;
    margin-right: 58px;
}

.menu-items li:nth-child(3) {
    margin-right: 43px;
}

.menu-items li:nth-child(4) {
    margin-right: 55px;
}

.menu-items li:nth-child(5) {
    margin-right: 0;
}

.menu-items a {
    line-height: 20px;
    color: #000000;
}

.btn {
    margin-right: 52px;
    font-size: 0;
}

.btn button {
    width: 120px;
    height: 45px;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    cursor: pointer;
}

.btn .login {
    color: #000000;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-right: 9px;
}

.btn .try {
    color: #fff;
    background: #FF6336;
    border: 1px solid #FF6336;
}
.test {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin-top: 129px;
    margin-left: 8px;
}

.test img {
    margin-top: 22px;
}


.test h1 {
    margin-bottom: 51px;
    width: 539px;
    line-height: 70px;
}

.main .description {
    margin-bottom: 48px;
    width: 471px;
    font-size: 25px;
    line-height: 35px;
}

.main-btn {
    font-size: 0;
    margin-bottom: 30px;
}

.main-btn button {
    width: 160px;
    height: 60px;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.main-btn .free {
    margin-right: 10px;
    color: #fff;
    background: #FF6336;
    border: 1px solid #FF6336;
}

.main-btn .demo {
    background: #E5E5E5;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #000000; 
}

.preffered {
    margin-top: 178px;
    height: 455px;
    background-color: #FF9C7D;
}

.preffered .title {
    display: flex;
    justify-content: center;
    margin-left: 108px;
}

.preffered h2 {
    width: 720px;
    margin-top: 108px;
    text-align: center;
}

.companies ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    margin-left: 27px;
}

.companies li:nth-child(3),
.companies li:nth-child(4) {
    margin-bottom: 7px
}

.companies li:nth-child(6) {
    margin-right: 20px;
    margin-bottom: 10px
}

.control,
.ensure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 90px;
}

.control h2,
.ensure h2 {
    width: 493px;
}

.control p,
.ensure p {
    width: 491px;
    margin: 30px 0 30px 0;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.control a,
.ensure a {
    width: 96px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.shorten,
.less {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 250px;
}

.shorten .detail {
    margin-right: 69px;
    margin-bottom: 30px;
}

.shorten h2 {
    width: 379px;
}

.shorten p {
    position: relative;
    width: 450px;
    font-size: 20px;
    line-height: 30px;
    top: 30px;
}

.shorten a {
    position: relative;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    top: 66px;
    right: 1px;
}

.ensure {
    margin-top: 250px;
}

.ensure .detail {
    margin-bottom: 8px;
}

.ensure p {
    width: 520px;
}

.ensure a {
    position: relative;
    top: 4px;
}

.less .detail {
    margin-bottom: 60px;
}

.less h2 {
    width: 348px;
}

.less p {
    position: relative;
    top: 32px;
    width: 520px;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.less a {
    position: relative;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    top: 59px;
}

.localize {
    margin-top: 150px;
    height: 1033px;
    background: #FFF8E4;
}

.localize h2 {
    padding-top: 120px;
    text-align: center;
}

.localize h4 {
    text-align: center;
    font-size: 25px;
    line-height: 35px;
}

.localize p {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.service {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 79px;
    margin-left: 53px;
}

.web-apps,
.mobile-apps,
.games {
    margin-bottom: 75px;
}

.web-apps h4,
.documents h4 {
    margin-bottom: 20px;
}

.web-apps img,
.documents img {
    display: block;
    width: 160px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 26px;
}

.web-apps p {
    width: 303px;
    height: 75px;
}

.mobile-apps img {
    display: block;
    width: 160px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 21px;
}

.mobile-apps h4 {
    text-align: center;
    margin-bottom: 25px;
    margin-right: 10px;
}

.mobile-apps p {
    width: 330px;
    height: 75px;
}

.games {
    margin-right: 65px;
    margin-left: 11px;
}

.games img,
.marketing img,
.iot img {
    display: block;
    width: 160px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 23px;
}

.games h4,
.marketing h4,
.iot h4 {
    text-align: center;
    margin-bottom: 23px;
}

.games p {
    width: 281px;
    height: 75px;
}

.documents img {
    position: relative;
    right: 3px;
}

.documents h4 {
    margin-right: 5px;
}

.documents p {
    position: relative;
    right: 2px;
    width: 309px;
    height: 50px;
}

.marketing h4 {
    margin-right: 37px;
}

.marketing img {
    position: relative;
    right: 18px;
}

.marketing p {
    margin-right: 36px;
    width: 310px;
    height: 75px;
}

.iot img {
    position: relative;
    right: 42px;
}

.iot h4 {
    margin-right: 85px;
}

.iot p {
    position: relative;
    right: 42px;
    width: 326px;
    height: 50px;
}

.boost {
    margin-top: 154px;
}

.teams {
    display: flex;
    justify-content: space-between;
}

.managers {
    margin-top: 75px;
}

.managers img {
    margin-bottom: 47px;
    width: 145px;
    height: 201px;
}

.developers {
    margin-top: 92px;
}

.developers img {
    margin-bottom: 65px;
}

.managers h4,
.developers h4,
.translators h4 {
    margin-bottom: 34px;
    font-size: 30px;
    line-height: 40px;
}

.developers h4 {
    margin-bottom: 33px;
}

.translators {
    margin-top: 84px;
}

.translators img {
    margin-bottom: 56px;
}

.managers p,
.developers p,
.translators p {
    width: 409px;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 30px;
}

.developers p {
    margin-bottom: 26px;
}

.managers a,
.developers a,
.translators a {
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #000000;
}

.about {
    display: flex;
    flex-direction: row-reverse;
    height: 468px;
    background: #C9E8F2;
    margin-top: 188px;
}

.information .text {
    margin-bottom: 23px;
    width: 908px;
    font-size: 30px;
    line-height: 40px;
}

.speech {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 61px;
}

.speech img {
    position: relative;
    bottom: 10px;
    width: 310px;
    height: 310px;
}

.information .cheif {
    margin-bottom: 17px;
    width: 271px;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}

.information .revolut {
    width: 115px;
    height: 25px;
}

.translation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 191px;
    height: 329px;
    background: #DABC98;
}

.translation img {
    width: 176px;
    height: 154px;
    margin-left: 55px;
    margin-bottom: 5px;
    margin-right: 67px;
}

.translation h4 {
    width: 461px;
    margin-bottom: 2px;
    margin-right: 124px;
}

.translation .border {
    height: 168px;
    margin-bottom: 8px;
    border-right: 1px solid #000000;
}

.user-love {
    width: 128px;
    margin-left: 17px;
    margin-bottom: 19px;
    margin-right: 70px;
}

.user-love .group {
    width: 35px;
    height: 35px;
}

.user-love p,
.capterra p {
    text-transform: uppercase;
    line-height: 25px;
    letter-spacing: 0.75px;
    color: #000000;
}

.user-love .star,
.capterra .star {
    width: 128px;
    height: 20px;
}

.user-love .star {
    position: relative;
    top: 13px
}

.user-love p {
    position: relative;
    top: 19px;
    left: 54px;
}

.capterra {
    width: 150px;
    margin-bottom: 17px;
}

.capterra .capterra-img {
    width: 150px;
    height: 37px;
}

.capterra .star {
    position: relative;
    top: 12px;
}

.capterra p {
    position: relative;
    top: 18px;
    left: 54px;
}

.integrate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.integrate h1 {
    margin-top: 168px;
    width: 791px;
    text-align: center;
}

.integrate p {
    margin-bottom: 25px;
    width: 539px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}

.integrate img {
    margin-bottom: 32px;
    width: 1023px;
    height: 445px;
}

.integrate button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 193px;
    height: 60px;
    background: #FF6336;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border-color: #FF6336;
}

.made {
    margin-top: 162px;
    height: 603px;
    background: #FF9C7D;
}

.made-easy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.made-easy h1 {
    width: 784px;
    padding-top: 119px;
    margin-bottom: 29px;
    text-align: center;
}

.made-easy p {
    margin-bottom: 54px;
    font-size: 20px;
    line-height: 30px;
}

.made-easy button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 60px;
    background: #000;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: #FFF;
}

.footer {
    display: flex;
    border-bottom: 1px solid #000;
    padding-bottom: 95px;
}

.case-study {
    display: flex;
    flex-direction: column;
}

.case-study h3 {
    padding-top: 92px;
    margin-bottom: 28px;
}

.case-study .picture {
    margin-bottom: 31px;
    margin-right: 140px;
    width: 300px;
    height: 300px;
}

.case-study .specialized {
    margin-bottom: 11px;
    width: 80px;
    height: 32px;
}

.case-study p {
    margin-bottom: 15px;
    width: 290px;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.case-study a {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.footer-menu {
    display: flex;
    padding-top: 98px;
}

.footer-menu h4 {
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 25px;
}

.footer-menu a {
    display: block;
    width: 168px;
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 15px;
    color: #000000;
}

.footer-menu li {
    margin-right: 53px
}

.footer-copyright {
    display: flex;
    margin-top: 52px;
    margin-bottom: 43px;
}

.footer-copyright img {
    margin-right: 14px;
    width: 90px;
    height: 21px;
}

.footer-copyright .copytright {
    width: 301px;
    font-size: 12px;
    line-height: 15px;
}